.portfolio {
    margin-bottom: 150px;
}
.portfolio .portfolio-subtitle {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 80px;
  text-align: center;
}

.portfolio h3 {
  text-align: center;
  color: var(--text-yellow);
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 10px;
}

.portfolio-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-content .portfolio-content__img{
    flex: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-content .portfolio-content__img.flex-close-one{
    justify-content: end;
}
.portfolio-content .portfolio-content__img.flex-close-two{
    justify-content: start;
}
.portfolio-content .portfolio-content__img.flex-close-three{
    justify-content: end;
}
.portfolio-content .portfolio-content__img.flex-close-four{
    justify-content: start;
}

.portfolio-content__img img {
  max-width: 100%;
  height: auto;
  display: block;
}
